apiVersion: v1
kind: Service
metadata:
  name: iris-api-service
  labels:
    app: iris-api
spec:
  type: LoadBalancer  # Creates external load balancer in GCP
  selector:
    app: iris-api
  ports:
  - name: http
    port: 80
    targetPort: 8080
    protocol: TCP
  sessionAffinity: None